## Python statistics essential training - 03_05_categorical

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd
import matplotlib
import matplotlib.pyplot as pp

import pandas.plotting

In [7]:


from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [4]:
import re
import mailbox
import csv

In [17]:
smoking = pd.read_csv("whickham.csv")

In [18]:
smoking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   outcome  1314 non-null   object
 1   smoker   1314 non-null   object
 2   age      1314 non-null   int64
dtypes: int64(1), object(2)
memory usage: 30.9+ KB

In [12]:
pd.DataFrame(smoking['smoker'].value_counts(normalize=True))

       smoker
No   0.557078
Yes  0.442922

In [55]:
smoking['agegroup'] = pd.cut(smoking['age'], [0, 18, 36, 54, 72, 90], labels= ['0-18', '18-36', '36-54', '54-72', '72+'])
smoking.head()

  outcome smoker  age agegroup
0   Alive    Yes   23    18-36
1   Alive    Yes   18     0-18
2    Dead    Yes   71    54-72
3   Alive     No   67    54-72
4   Alive     No   64    54-72

In [67]:
bysmoker = smoking.groupby(['agegroup', 'smoker'])['outcome'].value_counts(normalize=True)
bysmoker.head(200)

agegroup  smoker  outcome
0-18      No      Alive      0.909091
                  Dead       0.090909
          Yes     Alive      1.000000
18-36     No      Alive      0.970711
                  Dead       0.029289
          Yes     Alive      0.969231
                  Dead       0.030769
36-54     No      Alive      0.904192
                  Dead       0.095808
          Yes     Alive      0.824645
                  Dead       0.175355
54-72     No      Dead       0.548246
                  Alive      0.451754
          Yes     Dead       0.537415
                  Alive      0.462585
72+       No      Dead       0.931034
                  Alive      0.068966
          Yes     Dead       0.894737
                  Alive      0.105263
Name: outcome, dtype: float64

In [68]:
bysmoker = bysmoker.unstack().drop("Dead", axis = 1)
bysmoker.head(200)

outcome             Alive
agegroup smoker
0-18     No      0.909091
         Yes     1.000000
18-36    No      0.970711
         Yes     0.969231
36-54    No      0.904192
         Yes     0.824645
54-72    No      0.451754
         Yes     0.462585
72+      No      0.068966
         Yes     0.105263

  outcome smoker  age agegroup
0   Alive    Yes   23    18-36
1   Alive    Yes   18     0-18
2    Dead    Yes   71    54-72
3   Alive     No   67    54-72
4   Alive     No   64    54-72

In [52]:
smoking['age'].min()

18