## Python statistics essential training - 02_03_pandas

Standard imports

In [2]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp
%matplotlib inline

In [30]:
Planets = pd.read_csv ('Planets.csv')
Planets.set_index('Planet', inplace=True)

In [28]:
Planets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, MERCURY to PLUTO
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mass             10 non-null     float64
 1   Diameter         10 non-null     object
 2   DayLength        10 non-null     float64
 3   SunDistance      9 non-null      float64
 4   OrbitPeriod      10 non-null     object
 5   OrbitVelocity    10 non-null     float64
 6   MeanTemperature  10 non-null     int64
 7   SurfacePressure  6 non-null      float64
 8   Moons            10 non-null     int64
 9   Rings            10 non-null     object
 10  MagneticField    9 non-null      object
 11  FirstVisited     9 non-null      object
 12  FirstMission     9 non-null      object
dtypes: float64(5), int64(2), object(6)
memory usage: 1.1+ KB

In [19]:
len(Planets)

10

In [22]:
Planets.loc['MERCURY']

Mass           0.33
Diameter       4879
DayLength    4222.6
Name: MERCURY, dtype: object

In [24]:
Planets.loc['MERCURY':'EARTH']

         Mass Diameter  DayLength
Planet
MERCURY  0.33     4879     4222.6
VENUS    4.87   12,104     2802.0
EARTH    5.97   12,756       24.0

In [29]:
Planets.columns

Index(['Mass', 'Diameter', 'DayLength', 'SunDistance', 'OrbitPeriod',
       'OrbitVelocity', 'MeanTemperature', 'SurfacePressure', 'Moons', 'Rings',
       'MagneticField', 'FirstVisited', 'FirstMission'],
      dtype='object')

In [31]:
Planets.head()

,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,MeanTemperature,SurfacePressure,Moons,Rings,MagneticField,FirstVisited,FirstMission
Planet,,,,,,,,,,,,,
MERCURY,0.330,4879,4222.6,57.9,88,47.4,167,0.00,0,No,Yes,1974-03-29,Mariner 10
VENUS,4.870,"12,104",2802.0,108.2,224.7,35.0,464,92.00,0,No,No,1962-08-27,Mariner 2
EARTH,5.970,"12,756",24.0,149.6,365.2,29.8,15,1.00,1,No,Yes,NaN,NaN
MOON,0.073,3475,708.7,NaN,27.3,1.0,-20,0.00,0,No,No,1959-09-12,Luna 2
MARS,0.642,6792,24.7,227.9,687,24.1,-65,0.01,2,No,No,1965-07-15,Mariner 4

In [40]:
type(Planets.loc['MERCURY'].FirstVisited)

str

In [39]:
type(Planets.loc['EARTH'].MeanTemperature)

numpy.int64

In [42]:
Planets['FirstVisited']= pd.to_datetime(Planets.FirstVisited)

In [56]:
type(Planets.loc['MERCURY', 'FirstVisited'])

pandas._libs.tslibs.timestamps.Timestamp

In [52]:
Planets['FirstVisitYearsAgo'] = 2018- Planets['FirstVisited'].dt.year

In [53]:
Planets['FirstVisitYearsAgo']

Planet
MERCURY    44.0
VENUS      56.0
EARTH       NaN
MOON       59.0
MARS       53.0
JUPITER    45.0
SATURN     39.0
URANUS     32.0
NEPTUNE    29.0
PLUTO       3.0
Name: FirstVisitYearsAgo, dtype: float64