## Python statistics essential training - 03_02_distributions

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

In [5]:
china1965 = pd.read_csv('income-1965-china.csv')
china2015 = pd.read_csv('income-2015-china.csv')
usa1965 = pd.read_csv('income-1965-usa.csv')
usa2015 = pd.read_csv('income-2015-usa.csv')

In [6]:
china1965.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   income        1000 non-null   float64
 1   log10_income  1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

In [12]:
china1965.min()

income          0.041968
log10_income   -1.377078
dtype: float64

In [11]:
china1965.max()

income          5.426802
log10_income    0.734544
dtype: float64

In [13]:
china1965.mean()

income          0.660597
log10_income   -0.274157
dtype: float64

In [16]:
china1965.var()

income          0.209056
log10_income    0.088698
dtype: float64

In [33]:
china1965.median()

income          0.557477
log10_income   -0.253773
dtype: float64

In [32]:
china1965.quantile([0.25, 0.5, 0.75, 1])

        income  log10_income
0.25  0.344130     -0.463277
0.50  0.557477     -0.253773
0.75  0.863695     -0.063640
1.00  5.426802      0.734544

In [38]:
scipy.stats.percentileofscore(china1965['income'], 5.426802)

100.0

In [39]:
china1965.describe()

            income  log10_income
count  1000.000000   1000.000000
mean      0.660597     -0.274157
std       0.457226      0.297822
min       0.041968     -1.377078
25%       0.344130     -0.463277
50%       0.557477     -0.253773
75%       0.863695     -0.063640
max       5.426802      0.734544